<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>data</key>
	<dict>
		<key>modelArr_1</key>
		<array/>
		<key>modelArr_2</key>
		<array>
			<dict>
				<key>balance</key>
				<integer>10000</integer>
				<key>birthday</key>
				<string>1991-06-12</string>
				<key>financialPlannerId</key>
				<integer>6001</integer>
				<key>headImgUrl</key>
				<string>http://cdn.duitang.com/uploads/item/201603/06/20160306140033_NiUah.jpeg</string>
				<key>historyCommission</key>
				<integer>200</integer>
				<key>orderDueTag</key>
				<integer>1</integer>
				<key>orderDueTodayTag</key>
				<integer>1</integer>
				<key>orderTag</key>
				<integer>2</integer>
				<key>sex</key>
				<integer>0</integer>
				<key>userId</key>
				<integer>1001</integer>
				<key>username</key>
				<string>itmatter</string>
			</dict>
			<dict>
				<key>balance</key>
				<integer>1168200</integer>
				<key>birthday</key>
				<string>1994-02-08</string>
				<key>financialPlannerId</key>
				<integer>60011</integer>
				<key>headImgUrl</key>
				<string>http://cdn.duitang.com/uploads/item/201603/06/20160306140033_NiUah.jpeg</string>
				<key>historyCommission</key>
				<real>152083.333335</real>
				<key>orderDueTag</key>
				<integer>1</integer>
				<key>orderDueTodayTag</key>
				<integer>1</integer>
				<key>orderTag</key>
				<integer>2</integer>
				<key>sex</key>
				<integer>0</integer>
				<key>userId</key>
				<integer>60011</integer>
				<key>username</key>
				<string>阿斯旺</string>
			</dict>
		</array>
		<key>pageInfo</key>
		<dict>
			<key>currentPage</key>
			<integer>1</integer>
			<key>currentResult</key>
			<integer>0</integer>
			<key>data</key>
			<dict/>
			<key>pageSize</key>
			<integer>20</integer>
			<key>totalPage</key>
			<integer>1</integer>
			<key>totalResult</key>
			<integer>5</integer>
		</dict>
		<key>positionCode</key>
		<integer>0</integer>
	</dict>
	<key>msg</key>
	<string></string>
</dict>
</plist>
